
:root {
  --white-color: #fcffff;
  --dark-blue-color: #3d839c;
  --bright-blue-color: #78c8d3;
  --feature-orange: #eac564;
  --black-color: #141312;
}
html {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {

  width: 80vw;
  background-image: linear-gradient(to bottom right, var(--dark-blue-color), var(--bright-blue-color));
  padding: 3vw;
  color: var(--white-color);

}

h1 * {
  font-size: 6em;
  font-family: "Montserrat", sans-serif;

}

h1 {
  margin-bottom: 0px;
}



h2 {
  font-family: "EB Garamond", serif;
  font-size: 2em;
  margin-top: 0px;
}

form * {
  display: block;
  font-family: sans-serif;
  line-height: 2em;
}

button {
  margin-top: 1em;
  background-color: var(--feature-orange);
  color: var(--white-color);
  width: 10rem;
  height: 3rem;
  /* text-transform: uppercase; */
  font-family: "Montserrat", sans-serif;
  /* font-size: 30px; */
}
.input {
  border: solid var(--white-color) 1px;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  margin: 10px 0 10px 0;
}
.wrapper {
  margin: 6%;
}
#form {
  width: 60%;
  margin: 0 auto;
}
.hamburger {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 50px;
}

.bar1,
.bar2,
.bar3 {
  width: 70px;
  height: 10px;
  background-color: var(--white-color);
  margin: 12px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-18px, 12px);
  transform: rotate(-45deg) translate(-18px, 12px);
}
.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-16px, -16px);
  transform: rotate(45deg) translate(-16px, -16px);
}

#hobbies {
  font-family: "EB Garamond", serif;
}
#hobbies .hobbie_item  {
  border: 5px solid var(--dark-blue-color);
  width: 190px;
  text-align: center;
  border-radius: 9px;
  display: inline-block;
  height: 110px;
  margin: 10px;
  background-color: var(--feature-orange);
  color: var(--black-color);
  padding: 20px;
  font-size: 1.5rem;
}

.warning {
  border: 1px solid red;
}
